markdown:
  # Co najdete a co nenajdete v průvodci

  *(z úvodu Vladimíra Bystrova ke knižnímu vydání Průvodce říší zla v roce 2006)*

  Náš průvodce obsahuje údaje o více než 2100 koncentračních, nápravněpracovních, zvláštních, výrobních, zajateckých, internačních, prověřovacích filtračních táborech a zvláštních osadách zřízených od dvacátých do šedesátých let dvacátého století v Sovětském svazu a táborech, které Sovětský svaz zřídil v letech 1939-1950 v jiných zemích.

  Především jsem se snažil kromě 476 ústředně řízených táborových centrál, které jsou popsány ruskými historiky podle dokumentů v centrálních archivech, zaznamenat co nejvíce jednotlivých součástí těchto komplexů, táborových oddělení, samostatných táborových oddělení, táborových středisek, samostatných táborových středisek, detašovaných a různých dalších táborů, pokud se o nich dochovala alespoň nějaká svědectví anebo dokonce měly své vlastní jméno, dané jim místními obyvateli nebo samotnými vězni.

  Uvědomuji si totiž, že soustřeďováním pozornosti jen na faktografický popis centrál, jak je často obvyklé, se náš pohled nebezpečně zužuje a vytrácí se reálná představa o někdy až stovkách jednotlivých táborů různé kapacity, roztroušených na území velikostí nezřídka odpovídajícím nejednomu evropského státu, které tvořily mikrokosmos každé takové centrály. A právě proto jsem do průvodce zařadil zmínky alespoň o některých z nich, tak jak jsou zaznamenány v dosud zveřejněných dokumentech, ale především v memoárové literatuře nebo jak byly získány výzkumem založeném na metodě orální historie. Přičemž jsem si vědom toho, že jsem mohl postihnout pouze nepatrnou část a že historické bádání a zpracovávání vzpomínek bývalých vězňů nebo jiných pamětníků doslova každý den přináší další informace o dosud nepřipomínaných nebo zapomenutých větších či menších, stálých či dočasných táborech. Nebo o dosud neznámých proměnách táborových konglomerátů v čase či dalších jménech nebo označeních, daných jednotlivým táborům jejich současníky. Podle obecného odhadu bylo v 476 ústředně řízených táborových centrálách za celé období od konce dvacátých do šedesátých let soustředěno kolem dvaceti a možná ještě více tisíc táborů a v průvodci jsem mohl připomenout pouze zlomek z nich.

  Údaje a informace o těchto jednotlivých táborech, zřizovaných, opouštěných, rušených, obnovovaných nebo přenechávaných na čas nebo natrvalo jiným centrálám se však dochovaly velmi nerovnoměrně a spíš v místních než ústředních archivech. A ne vždy souhlasí tyto oficiální údaje s tím, na co vzpomínají bývalí vězni nebo jiní pamětníci, přičemž vzpomínky často zaznamenané až se značným časovým odstupem od krutého zážitku rovněž nejsou příliš koherentní. Proto je třeba smířit se s tím, že dobrat se přes předěl let historické pravdy je někdy stále obtížnější a udělat si úplný přehled o konglomerátu táborů v každé centrále po celou dobu její existence je zřejmě již navždy vyloučeno.

  Průvodce dále obsahuje informace o více než dvou stech táborech pro válečné zajatce a internované, které byly zřízeny v Sovětském svazu po druhé světové válce a podle mého názoru jsou nesprávně opomíjeny, když se připomíná svět sovětských táborů. Tyto tábory byly totiž doslova pupeční šňůrou spojeny s ostatní táborovou strukturou.

  Především byly také řízeny Lidovým komisariátem vnitra SSSR a později Ministerstvem vnitra SSSR a pouze podléhaly jiné hlavní správě. Zajatci v rozporu s mezinárodními úmluvami, k nimž se však Sovětský svaz nepřipojil, byli rovněž masově využíváni jako pracovní síla v sovětském národním hospodářství, obdobně jako vězni v nápravněpracovních táborech, podléhali sovětské jurisdikci a trestáni podle sovětského trestního zákoníku. Proto byly tábory Hlavní správy pro záležitosti válečných zajatců a internovaných nejednou umisťovány v sousedství nebo dokonce v prostorách ostatních táborů a měly společná pracoviště. Ale zejména nelze přehlédnout, kdo tvořil masu označovanou jako internovaní: že to bylo civilní obyvatelstvo odvlečené na práci do Sovětského svazu z území obsazených Rudou armádou během jejího postupu v průběhu války. Od Sovětským svazem anektovaného původně východního Polska a násilně připojených pobaltských zemí a Besarábie, až po starce a ženy z Německa a desítky tisíc mužů a žen z Maďarska, Rumunska a Slovenska. Ještě koncem čtyřicátých let byly do těchto táborů přiváženy transporty hlavně žen z Německa a Pobaltí.

  Postavení internovaných se lišilo od postavení vězňů nápravněpracovních táborů pouze tím, že nebyli odsouzeni. A teprve, když počátkem padesátých let byla většina válečných zajatců propuštěna, byli všichni internovaní administrativním rozsudkem odsouzeni a spolu se zbytkem zajatců převedeni nejprve do táborů Správy pro záležitosti odsouzených válečných zajatců a internovaných a odtud postupně do běžných nápravněpracovních táborů nebo posláni do vyhnanství v hloubi země.

  Ruští historici a veřejnost věnují těmto táborům zatím jen okrajovou pozornost. Bolestné rozkrývání rozsahu a hloubky perzekuce vlastního obyvatelstva bohužel zastiňuje represe spáchané Sovětským svazem také  na občanech jiných zemí. Navíc adorace úspěchu Sovětského svazu ve druhé světové válce zřejmě brání příliš otevírat téma zločinného chování vítěze. Ale především je přezíravost k osudům příslušníků jiných národů v sovětských táborech způsobována přetrvávajícím velmocenským šovinismem Ruska. Ten totiž stále neumožňuje této zemi pochopit, jaké tragédie způsobila Evropě a světu dvacátého století.

  To byl také důvod, proč je v našem průvodci dále zařazeno několik desítek táborů, v nichž Lidový komisariát vnitra SSSR po násilném rozdělení Polska mezi Německo a Sovětský svaz v září 1939 internoval příslušníky polské armády a funkcionáře státní správy a různých úřadů, zadržené na dosavadních polských východních územích, a nejpozději v první polovině roku 1941 je deportoval do nápravněpracovních táborů v hloubi Sovětské svazu. Některé polské jednotky sice kladly Rudé armádě odpor často označovaný jako polsko-sovětská válka, ale žádná ze stran nevyhlásila válečný stav a sovětská okupace východních území Polska byla tehdy jednostranným aktem agrese Sovětského svazu proti Polsku.

  Tragedie polských důstojníků a dalších Poláků popravených v březnu a dubnu 1940 v Katyňském lese nedaleko Smolenska a desítky tisíc obyvatel Polska vězněných v sovětských nápravněpracovních táborech až do šedesátých let pochopitelně rovněž bohužel nejsou příliš frekventovaným tématem v pracích současných ruských historiků zabývajících se světem sovětských táborů. Česká veřejnost by však bezprecendentní zločin Sovětského svazu spáchaný na Polsku a jeho obyvatelích podle mého názoru měla znát.

  V průvodci je věnována pozornost také dalším u nás málo známým sovětským táborům. Například zvláštním táborům a prověřovacím a filtračním táborům, v nichž v závěru druhé světové války byli jako nespolehliví soustřeďováni bývalí příslušníci Rudé armády, vracející se z německého zajetí, a sovětští občané, kteří byli v prvních letech druhé světové války v době okupace západních území Sovětského svazu německou armádou odvlečeni na práci do Německa. Především však táborům zřízeným Sovětským svazem ve druhé polovině čtyřicátých let v Německu a dalších zemích střední a východní Evropy nevyjímaje ani Československo.

  Okrajově jsou v průvodci připomenuty také některé zvláštní osady, do nichž byli v různých permanentních kampaních umisťovány milióny sovětských občanů násilně přemisťovaných ze svých původních domovů do vzdálených, zpravidla dosud neosídlených míst. Desetitisíce osad byly integrální součástí jednotlivých táborových centrál a život jejich obyvatel se zpravidla příliš nelišil od režimu v táborech. Není však již v silách žádného historika shromáždit údaje o všech osadách pro přesídlence a vysídlence nejrůznějšího druhu během dvacátých až padesátých let. V našem průvodci jsou proto zmíněny jen osady bohužel proslulé svým tragickým osudem.

  Až na nepatrné výjimky nejsou v našem průvodci uvedeny také koncentrační tábory a kolonie z prvních let po převzetí moci v Rusku bolševiky a ani věznice a kolonie nebo tábory zřizované regionálními orgány bezpečnosti v jednotlivých republikách nebo oblastech Sovětského svazu. Ústřední evidence neexistovala a teprve dnes se alespoň některé oblasti země snaží rekonstruovat vývoj a hustotu sítě táborů a věznic často označovaných různými novotvary z postrevolučního slovníku. Obecně to však byla vesměs obvyklá vězeňská nebo koncentrační zařízení ještě bez nucené práce vězňů a proto jsme jim věnovali pouze minimální pozornost.

  Bylo by bláhové chtít zaznamenat v jednom díle celý obraz říše zla vybudované v Sovětském svazu ve dvacátém století a patrně to ani nebude nikdy možné. I to málo, co je soustředěno v průvodci, který právě držíte v ruce, podle mého názoru vydává však dostatečně přesvědčivé svědectví o brutálním světě vytvořeném komunistickým snílky v obrovské zemi na východě.

  # Jak číst v průvodci

  Protože jsem přesvědčen, že ruština je dnes již pro několik českých generací jako kterýkoliv jiný cizí jazyk a ani její předcházející čtyřicetiletou výuku nepřeceňuji, jsou u všech názvů institucí, zeměpisných jmen a dalších specifických pojmů uvedena v závorce originální ruské znění v přepisu latinkou. Jsem si totiž vědom až příliš časté nekompability jevů z ruské sovětské skutečnosti v různých historických obdobích s historickými nebo současnými českými zkušenostmi a tím pádem také nesnadnosti přesně jednotlivé pojmy přeložit do češtiny. Proto ponechávám na čtenáři možnost opravit mne – ať již jde o názvy organizací, českou transkripci ruských i neruských místních jmen nebo o specifické pracovní a výrobní činnosti.

  Protože jsem přesvědčen, že náš průvodce není četbou, která se může číst postupně od stránky ke stránce, je každé heslo důsledně samostatné. V každém je uveden vždy úplný název tábora nebo jeho označení, komu podléhal a kde se nalézal, samozřejmě vždy s uvedením originálního ruského znění názvů institucí a místních pojmenování, od kdy do kdy existoval a všechny další dosažitelné informace. Každé heslo je rovněž opatřeno vlastními vysvětlivkami a kromě nepříliš četných výjimek neobsahuje odkazy, nutící čtenáře listovat a hledat v dalších heslech.

  Základní údaje o organizačním vývoji ústředně řízených táborových centrál jsou převzaty ze sborníku GULAG (Glavnoje upravlenije lagerej) 1917-1960, sostavitěli A. I. Kokurin i N. V. Petrov, Rossija XX věk. Dokumenty, Měždunarodnyj fond „Děmokratija), Matěrik, Moskva 2000. Odtud byly čerpány rovněž zeměpisné údaje, které jsou však pro českého čtenáře rozšířeny, údaje o počtech vězňů, které jsou někde doplněny o další informace z jiných zdrojů, a údaje o zaměstnání vězňů, které jsem se však snažil rozvést tak, abych poskytl českému čtenáři přesnější obraz. Do textu je však zpravidla zařazena pouze menší část vnesených nových informací a většinu byla vtělena až do poznámkového aparátu.

  Všechna ostatní hesla jsou výlučně autorská a vznikla na základě studia a sběru materiálů z nejrůznějších tištěných a elektronických podkladů ruské, ukrajinské, polské, slovenské, české, německé a francouzské provenience.

  Zeměpisné pojmy se snaží odpovídat kodifikovaným místním názvům na dobových i současných mapách nebo v geografické literatuře. Bylo ponecháno bez řešení složité a zpravidla téměř nepřeložitelné označování územních jednotek v bývalém Sovětském svazu i v dnešním Rusku a všechny ruské pojmy děrevňa, selo, centralnaja usaďba, posjolok, rabočij posjolok, posjolok rajonnogo podčiněnija, rajonnyj centr, gorod oblastnogo podčiněnija, oblastnyj centr, municipalnoje obrazovanije a mnohé další byly nahrazovány zjednodušeně českými pojmy vesnice, osada, obec, město, okresní město, krajské město a podobně.

  Potíž však představovaly údaje o zeměpisných vzdálenostech. Nelze nepodotknout, že ruské údaje jsou tradičně nepřesné a nejednou téměř tragikomicky rozporuplné. A mapy často mají zkreslený půdorys a pro některé oblasti země ani nejsou veřejně přístupné. Na eventuálních chybných údajích proto nenese autor  vinu a může se pouze omluvit za nesprávné zdroje.

  *Vladimír Bystrov, Praha 2006*

  # Poznámka k elektronickému vydání průvodce

  Přestože uplynulo více než 10 let od doby, kdy Vladimír Bystrov dokončil práci na průvodci, dodnes se jedná v českém prostředí o nepřekonané dílo, které veřejnosti přibližuje rozsah sovětského represivního aparátu. Ústav pro studium totalitních režimů se společně s autorovými pozůstalými rozhodli ponechat původní autorovo dílo ucelené a bez větších zásahů. V době vydání elektronické verze průvodce je ruskou nevládní organizací Memorial budován projekt [Topografie teroru](https://topos.memo.ru/page/text/), která má za cíl mapovat místa spojená s politickými represemi v Sovětském svazu. 

  Mimo to elektronické vydání obsahuje také interaktivní mapu některých táborových správ a samotných táborů, která byla vytvořena na základě databáze [Система исправительно-трудовых лагерей в СССР](http://memo.ru/history/nkvd/gulag) (Sistěma ispravitělno-trudovych lagerej v SSSR) vytvořené z archivních materiálů moskevkou organizací [Memorial](http://memo.ru/). Místa v mapě odkazují na příslušná hesla v průvodci, nejedná se však o jejich přesnou polohu a slouží spíše k snadnější orietaci a zaznačení geogragického rozměru sovětských represí. Jednolivá hesla průvodce jsou přehledně řezena a umožňují vyhledávání na základě svého názvu. Vzhledem k obsáhlosti průvodce nebylo zatím možné vytvořit veškeré přímé reference mezi hesly, proto je možné autorovy odkazy v textu alespoň vyhledat v databázi či manuálně v seznamu hesel.
