markdown:
  # Vladimír Bystrov

  Narodil se 7. srpna 1935 v Praze do česko-ruského manželství Anežky (roz. Tomkové) a Nikolaje Bystrovových.

  Otec Nikolaj Bystrov (1899–1967) po bolševické revoluci v Rusku emigroval do Prahy. Absolvoval zde ruskou právnickou fakultu, věnoval se publicistice a pracoval na ministerstvu zahraničních věcí. Přestože se v Československu oženil a v roce 1936 získal státní občanství, byl 20. května 1945 spolu se  stovkami dalších Sovětům nepohodlných osob zatčen sovětskou kontrarozvědkou SMĚRŠ a odvlečen do Moskvy. Zde byl 19. listopadu 1945 odsouzen k deseti letům nucených prací v gulagu za to, že *„v období občanské války bojoval proti sovětské moci, uprchl do zahraničí, byl předsedou pražské skupiny antisovětské organizace Rolnická strana práce, vytvořené ke svržení sovětského zřízení, a zabýval se antisovětskou propagandou mezi ruskými emigranty“*. Trest si odpykával v táborech [Unžlagu](/tabory/2897) ve středním Povolží a ve východosibiřském [Ozerlagu](/tabory/1887).

  V době otcova únosu bylo Vladimíru Bystrovovi deset let, jeho návratu se dočkal v roce 1955. Jako syn politického vězně nemohl dokončit střední školu a pracoval jako laborant. Na počátku padesátých let začal publikovat v novinách, věnoval se filmu a divadlu. V roce 1958 mu bylo umožněno mimořádné studium na pražské FAMU (katedra filmové a televizní dramaturgie, 1959–1962). Rychle se etabloval jako filmový kritik a publicista (*Svobodné slovo, Film a divadlo, Film a doba, Kultura, Kino, Mladý svět*). V letech 1964–1968 spoluvytvářel *Festivalový deník MFF Karlovy Vary*. V letech 1965–1969 byl zaměstnán jako poradce ředitele a tiskový tajemník Filmového studia Barrandov v Praze. Napsal stovky filmových kritik, portrétů, rozhovorů, reportáží a článků věnovaných kulturní historii. Začátkem sedmdesátých let jeho texty ze stránek novin a časopisů postupně mizí v důsledku nastupující normalizace. Do pádu komunistického režimu pak působil zejména jako překladatel a tlumočník z ruštiny a ukrajinštiny.

figure.figure
  img.img-fluid.mx-auto.d-block alt=("Vladimír Bystrov s otcem Nikolajem") src="#{asset_path('vladimir-bystrov-s-otcem-nikolajem.jpg')}" /
  figcaption.figure-caption Vladimír Bystrov s otcem Nikolajem

markdown:
  Po listopadu 1989 byl Vladimír Bystrov spoluzakladatelem a prvním zástupcem syndika Syndikátu novinářů ČR. Vedl zahraniční rubriku týdeníku *Reflex* a angažoval se i v dalších periodikách (týdeník *PRO*, deníky *Noviny, Svobodné slovo, Lidové noviny* ad.), kde publikoval zejména politické komentáře. Dále působil jako pedagog na Vyšší odborné škole publicistiky v Praze. Od roku 1994 byl spolumajitelem nakladatelství Bystrov a synové, které se kromě jiného zaměřilo na literaturu k problematice gulagu a vydalo například tituly *Encyklopedie gulagu* Jacquese Rossiho a *Koncentrační tábor: Rusko* Ivana Soloněviče či Bystrovovy vlastní práce *Z Prahy do gulagu aneb Překáželi* a *Zírající do slunce: život a dílo Konstantina Čcheidzeho*. Téma politických represí v Sovětském svazu zpracoval Bystrov i v řadě rozhlasových pořadů: *Byli zde* (ČRo2, premiéra 14. 8. 1997) či *Předehra aneb Z Prahy do gulagu a zpět* (ČRo Regina, premiéra 8. 5. 1998). Napsal a uváděl rozhlasový seriál *Lidé z mého zápisníku* (ČRo Regina, 1998), byl spoluautorem televizních dokumentů *Věčná paměť* (s Dagmar Průchovou, ČT 1995), *Pečetítko* (s Martinem Skybou, ČT 1998) a *Pomník* (opět s Martinem Skybou, ČT 1999) a připravil výstavy *Předpeklí aneb Z Čech do gulagu* (Muzeum III. odboje, Příbram 1995), *Pan učitel* (Národní knihovna ČR, Praha 1997), *Exil do Československa a exil z Československa* (Brno 2002/Praha 2003) a *Generál Sergej Vojcechovskij – voják a demokrat* (Národní památník obětí heydrichiády, Praha 2003/Vojenská akademie, Brno 2004). K tématu vydal i několik monografií: *Únosy československých občanů do Sovětského svazu v letech 1945–1955* (Úřad dokumentace a vyšetřování zločinů komunismu 2003), *Průvodce říší zla* (Academia 2006), *Osud generála – komentář k některým dokumentům o životě a tragickém konci Sergeje Vojcechovského* (Academia 2007), *Sovětská brutální svévole a československý ustrašený králíček* (Nadační fond angažovaných nestraníků 2009).

figure.figure
  img.img-fluid.mx-auto.d-block alt=("Vladimír Bystrov") src="#{asset_path('vladimir-bystrov.jpg')}" /
  figcaption.figure-caption Vladimír Bystrov

markdown:
  Jeho zásluhou bylo veřejnosti představeno téma odvlečení československých občanů do sovětských pracovních táborů po roce 1945. V roce 1993 V. Bystrov založil občanské sdružení Oni byli první, jehož cílem bylo shromažďovat informace o odvlečených osobách, usilovat o jejich rehabilitaci a sdružovat pozůstalé, a stal se jeho předsedou. Díky práci sdružení se podařilo prosadit zákon č. 172/2002 Sb., o odškodnění československých občanů odvlečených do SSSR nebo do táborů, které SSSR zřídil v jiných státech. Z 254 žádostí bylo kladně vyřízeno a odškodněno 57 obětí.

  V roce 2007 bylo Vladimíru Bystrovovi *„za vynikající zásluhy o rozvoj demokracie, humanity a lidských práv“* propůjčeno státní vyznamenání Řád T. G. Masaryka II. třídy. V roce 2008 se Bystrov stal prvním laureátem Ceny Rudolfa Medka, udělované Nadačním fondem angažovaných nestraníků. 

  Vladimír Bystrov byl třikrát ženatý: jeho první manželkou byla Alena Ryšková, druhou Senta Wollnerová, třetí Marta Švagrová. Z prvního manželství měl syna Alexandra, ze třetího syny Vladimíra a Michala. Zemřel 1. června 2010 v Praze.

  V roce 2017 vyšel v nakladatelství Galén rozsáhlý soubor dochovaných rukopisů, publikovaných článků a jiných dokumentů pod názvem *Neučesané vzpomínky Vladimíra Bystrova*.
