h1 Citované memoáry nebo jiná svědectví či díla

- ACHŤAMOV, Jakub Achmedovič, Naperekor udaram suďby (Navzdory ranám osudu), Čeljabinsk 1997, s. 89-93, ukázku z ruštiny přeložila Kateřina Jánská.

 U hesla: **12. SAMOSTATNÉ TÁBOROVÉ STŘEDISKO KRASLAGU**.

- ALEKSACHIN, Ivan Pavlovič, Iz zapisok kolymčanina (Ze zápisků kolymáka) in ... Iměť silu pomniť: Rasskazy těch, kto prošjol ad repressij (... Mít sílu nezapomínat: Vyprávění těch, kdož prošli peklem represí), sost. L. M. Guvrič, Moskva 1991, s. 69-70, ukázku z ruštiny přeložila Kateřina Jánská.

 U hesla: **LINKOVYJ**.

- BOJARČIKOV, Aleksandr Ivanovič, Vospominanija (Vzpomínky), Moskva 2003, s. 252-254, ukázku z ruštiny přeložila Kateřina Jánská

 U hesla: **PESČANLAG**.

- BUŠUJEVOVÁ, Zinaida Maksimovna, in Gody těrrora: Kniga pamjati žertv političeskij repressij. (Léta teroru: Kniha vzpomínek obětí politických represí.) Sost. A. Suslov (otv. za vyp.), N. Gaševa, Perm 1998, s. 119-120, ukázku z ruštiny přeložila Kateřina Jánská.

 U hesla: **AKMOLINSKLAG**.

- ČCHEIDZE, Konstantin, Události, setkání, úvahy. (Memoáry.) (Sobytija, vstreči, razmyšlenija [Memoary]), rukopis, z ruštiny přeložil Jiří Vacek, kapitola IX, Válka -- „Rub" Sovětského svazu -- Návrat, s. 158n.

 U hesla: **OZERLAG**.

- GORČAKOV, G. N., Vospominanija (Vzpomínky), Jerusalim 1995, s. 251-253., ukázku z ruštiny přeložila Kateřina Jánská.

 U hesla: **BUTUGYČAG**.

- HENIJUŠ, Larysa, Spovezd (Zpověď), Minsk 1993, s. 214-215, ukázku z běloruštiny přeložila Kateřina Jánská..

 U hesla: **MINLAG**.

- JUŠČÁK, Peter, Odvlečení, Bratislava 2001, s. 23, ukázku ze slovenštiny přeložila Kateřina Jánská.

 U hesla: **SVALJAVA**.

- JUŠČÁK, Peter, Odvlečení, Bratislava 2001, s. 45-46, ukázku ze slovenštiny přeložila Kateřina Jánská.

 U hesla: **OSVĚTIM**.

- JUŠČÁK, Peter, Odvlečení, Bratislava 2001, s. 105, ukázku ze slovenštiny přeložila Kateřina Jánská.

 U hesla: **HUMENNÉ**.

- JUŠČÁK, Peter, Odvlečení, Bratislava 2001, s. 106, ukázku ze slovenštiny přeložila Kateřina Jánská.

 U hesla: **SANOKSKÝ TÁBOR HLAVNÍ SPRÁVY PRO ZÁLEŽITOSTI VÁLEČNÝCH ZAJATCŮ A INTERNOVANÝCH LIDOVÉHO KOMISARIÁTU VNITRA SSSR č. 194**.

- JUŠČÁK, Peter, Odvlečení, Bratislava 2001, s. 107, ukázku ze slovenštiny přeložila Kateřina Jánská.

 U hesla: **SAMBOR**.

- JUŠČÁK, Peter, Odvlečení, Bratislava 2001, s. 115, ukázku ze slovenštiny přeložila Kateřina Jánská.

 U hesla: **NOWY SACZ**.

- JUŠČÁK, Peter, Odvlečení, Bratislava 2001, s. 161, ukázku ze slovenštiny přeložila Kateřina Jánská.

 U hesla: **ANGARLAG**.

- KALNIETE, Sandra, V plesových střevíčkách sibiřským sněhem (Ar balles kurpem Sibirijas sniegos), z lotyšštiny přeložil Michal Škrabal, Praha 2005, s. 201-202.

 U hesla: **NARYMLAG**.

- KRIČFALUŠI, Michal a RICHTER, Karel, Účtování s časem, díl první, V náručí gulagu, Praha 2004, s. 195-196.

 U hesla: **SEVPEČLAG**.

- LUŤANSKÝ, Štěpán, Pečorlag, Útěk do ráje (1939-1942), Praha 1999, s. 114-117.

 U hesla: **NARJAN-MAR**.

- MINDLIN, Michail Borisovič, Anfas i profil: 58-10 (Z anfasu i z profilu: 58-10), Moskva 1999, s. 51-53, ukázku z ruštiny přeložila Kateřina Jánská.

 U hesla: **VERCHNIJ AT-URJACH**.

- POLÁK, František, Jak žili a umírali sovětští otroci, New York 1962, s. 289 n.

 U hesla: **UNŽLAG**.

- ROSSI, Jacques, Útržky životů (Fragments de vies), z francouzštiny přeložil Lubomír Martínek, Praha 1999, s.. 91-92.

 U hesla: **NORILLAG**.

- ROSSI, Jacques, Útržky životů (Fragments de vies), z francouzštiny přeložil Lubomír Martínek, Praha 1999, s. 151.

 U hesla: **DUDINKA**.

- RUMINOVÁ, Ursula, V ženském Gulagu u Ledového oceánu (Im Frauen-GULag am Eismeer), přel. Jaroslav Voříšek, Praha 2005, s. 115-116.

 U hesla: **REČLAG**.

- SOLONĚVIČ, Ivan, Koncentrační tábor: Rusko (Rossija v konclagere), z ruštiny přeložila Kateřina Jánská, Praha 2000, s. 41-42.

 U hesla: **SVIRSKÝ NÁPRAVNĚPRACOVNÍ TÁBOR**.

- SOLŽENICYN, Alexandr, Souostroví GULAG (Archipelag GULAG), část II. Věčný pohyb, z ruštiny přeložil Kruh překladatelů Praha, vydalo OK CENTRUM Praha 1990, 1. díl, s. 300.

 U hesla: **VOGVOZDINO**.

- SOLŽENICYN, Alexandr, Souostroví GULAG (Archipelag GULAG), část III. Vyhlazovací a pracovní, z ruštiny přeložil Kruh překladatelů Praha, vydalo OK CENTRUM Praha 1990, 2. díl, s. 87-88.

 U hesla: **NOVYJ JERUSALIM**.

- SOLŽENICYN, Alexandr, Souostroví GULAG (Archipelag GULAG), část V. Katorga, z ruštiny přeložil Kruh překladatelů Praha, vydalo OK CENTRUM Praha 1990, 3. díl, s. 36.

 U hesla: **BĚRLAG**.

- ŠALAMOV, Varlam, Kolymské povídky (Voskreščenije listvennicy), z ruštiny přeložil Sergej Machonin, Praha 1995, s. 102-103.

 U hesla: **SEVLAG**.

- ŠTAJNER, Karlo, 7000 dní na Sibiři (7000 dana u Sibiri), ze srbochorvatštiny přeložil Luboš Kohout, Praha 1991, s. 56-58.

 U hesla: **NADĚŽDA**.

- VAGNER, Georgij Karlovič, Iz glubiny vzyvaju ... (De profundis) (Z hlubokosti volající ... [De profundis]), Moskva 2004, s. 111-113.

 U hesla: **MALĎAK**.

- VAJŠVILLENE, Nina Antonovna, Suďba i volja (Osud a svoboda), Magadan 1999, s. 51-56, ukázku z ruštiny přeložila Kateřina Jánská.

 U hesla: **MAGADANLAG**.

- Dopis Ministerstva vnitra č. Z/I-3651-15/4-46-10, zaslaného Ministerstvu zahraničních věcí 19. dubna 1946, došlo pod č. 71719/II-1/46, AMZV Praha.

 U hesla: **TÁBOR LIDOVÉHO KOMISARIÁTU VNITRA SSSR RATIBOŘ**.

- Dopis Úřadu předsednictva vlády Republiky Československé č.: Kab. 774/45 I/Dr., zaslaného Ministerstvu národní obrany, hlavnímu štábu -- oddělení pro styk se spojeneckými armádami 4. října 1945, příloha čj. 14798, uloženo ve Vojenském historickém archivu.

 U hesla: **tábor Lidového komisariátu****vnitra SSSR**  **RATiBOŘ**.

- PŘÍLOHA ke zprávě Zastupitelství Československé republiky pro S. S. S. R. v Moskvě Ministerstvu zahraničních věcí v Praze č. j. 16.902/30, AMZV Praha, PZ Moskva 1931/1.

 U hesla: **SOLOVECKÝ NÁPRAVNĚPRACOVNÍ TÁBOR JEDNOTNÉ HLAVNÍ POLITICKÉ SPRÁVY SSSR**.

- Šifrovaný telegram č. 297 náčelníka hlavního štábu generála Bohumila Bočka hlavnímu veliteli Skupiny sovětských vojsk v Německu maršálovi Georgiji Konstantinoviči Žukovovi, patrně z první poloviny října 1945, příloha čj. 14798, uloženo ve Vojenském historickém archivu v Praze, přeloženo z ruštiny.

 U hesla: **TÁBOR LIDOVÉHO KOMISARIÁTU VNITRA SSSR RATIBOŘ**.