/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/*Custom bootstrap variables must be set or imported *before* bootstrap.*/
// @import "active_admin";
// = require camps
// = require leaflet
// = require leaflet-search
// = require markercluster
// = require markercluster-default

@import "font-awesome";

@import "bootstrap";

.turbolinks-progress-bar {
  height: 2px;
  background-color: #ed1c24;
}

html,
body {
  a {
    color: #ed1c24;
  }
  a:hover {
    color: #af0e14;
  }
  a:focus {
    color: #af0e14;
  }
}

body {
  padding-top: 3.5rem;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

h1,
h2,
h3 {
}

.pagination {
  margin-bottom: 2rem;
}

.page-item.active .page-link {
  background-color: #ed1c24;
  border-color: #ed1c24;
}

.page-link {
  color: #ed1c24;
  margin-bottom: -1px;
}

.page-link:hover {
  color: #af0e14;
}

#pagination_table i {
  margin-left: 0.5rem;
  color: #ed1c24;
}

.btn-primary {
  background-color: #ed1c24;
  border-color: #ed1c24;
}

.btn-primary:hover {
  background-color: #af0e14;
  border-color: #af0e14;
}

.btn-primary:focus,
.btn-primary.focus {
  -webkit-box-shadow: 0 0 0 2px #af0e14;
  box-shadow: 0 0 0 2px #af0e14;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #af0e14;
  border-color: #af0e14;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #af0e14;
  border-color: #af0e14;
}

.btn-primary:not([disabled]):not(.disabled):active,
.btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #af0e14;
  border-color: #ed1c24;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 28, 36, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(237, 28, 36, 0.5);
}

.leaflet-container a {
  color: #ed1c24;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  color: black;
}

.footer {
  a {
    color: #ed1c24;
  }
  a:hover {
    color: #af0e14;
  }
  a:focus {
    color: #af0e14;
  }
  p {
    margin-bottom: 0px;
  }
  img {
    padding-top: 1rem;
  }
}