// Place all the styles related to the Camps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-content {
  padding: 0 0 2rem 0;
}

.map-content {
  margin-bottom: -1rem;
}

#map {
  width:100%;
}

.map-open {
  height: 66.666vh;
  transition:all 0.8s;
}

.map-close {
  height: 127px;
  -webkit-transition:all 0.8s;
  transition:all 0.8s;
}

#toogler {
  position: relative;
  bottom: 2.5rem;
  z-index: 10000;
  left: 50%;
  font-size: 2rem;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
}

.blinking {
  animation: fade 1s infinite alternate;
}

.footnotes {
  font-size: 12px;
  p {
    margin-bottom: 0.5rem;
  }
}

.camp-content strong {
  font-weight: inherit;
}
