.marker-cluster-small {
	}
.marker-cluster-small div {
	background-color: #ed1c24;
	}

.marker-cluster-medium {
	}
.marker-cluster-medium div {
	background-color: #ed1c24;
	}

.marker-cluster-large {
	}
.marker-cluster-large div {
	background-color: #ed1c24;
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: #ed1c24;
	}

.leaflet-oldie .marker-cluster-medium {
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: #ed1c24;
	}

.leaflet-oldie .marker-cluster-large {
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: #ed1c24;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 15px;
	font: bold 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
	}
.marker-cluster span {
	line-height: 30px;
	}