footer.footer.bg-dark
  .container.text-light
    .d-md-flex.justify-content-between.align-items-center.py-3
      p
        | Tato stránka vznikla v rámci projektu
        a href="https://cechoslovacivgulagu.cz/" target="_blank"  Čechoslováci v Gulagu
        br/
        | &copy; #{Date.today.year} Ústav pro studium totalitních režimů
      a href="https://www.ustrcr.cz/" target="_blank" 
        img.pt-md-0 height="52px" src="#{asset_path('logo-ustr.svg')}" alt="Logo Ústav pro studium totalitních režimů" /
