nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    = link_to "Průvodce říší zla", root_path, :class => "navbar-brand"
    button.navbar-toggler aria-controls="navbarContent" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarContent" data-toggle="collapse" type="button" 
      span.navbar-toggler-icon
    #navbarContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        = link_to "O průvodci", about_path, :class => "nav-item nav-link"
        = link_to "O autorovi", author_path, :class => "nav-item nav-link"
      = form_tag camps_path, class: "form-inline", method: :get do
        = text_field_tag :q, params[:q], class: "form-control mr-sm-2"
        = submit_tag "Vyhledat", class: "btn btn-primary my-2 my-sm-0"



