doctype html
html lang="cs"
  head
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta charset="utf-8"
    meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,shrink-to-fit=no" name="viewport"
    title Průvodce říší zla - Vladimír Bystrov
    meta(
      property="description"
      content="Náš průvodce obsahuje údaje o více než 2100 koncentračních, nápravněpracovních, zvláštních, výrobních, zajateckých, internačních, prověřovacích filtračních táborech a zvláštních osadách zřízených od dvacátých do šedesátých let dvacátého století v Sovětském svazu a táborech, které Sovětský svaz zřídil v letech 1939-1950 v jiných zemích.")
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    

  body
    = render 'layouts/header'
    
    .map-content
      #map.map-open
      span#toogler
        i.fa.fa-angle-up.normal
    .main-content
      .container
        = yield
    span#back-to-top.btn.btn-primary.btn-lg.back-to-top data-placement="left" data-toggle="tooltip" href="#" role="button" title=("Zpět nahoru")
      i.fa.fa-arrow-up
    
    = render 'layouts/footer'
