p#notice= notice

- if params[:q].blank?
  nav = alphabetical_paginate @alphaParams
- else
  p Výsledky vyhledávání:

ul#pagination_table
  - @camps.each do |camp|
    li 
      = link_to camp.name, camp
      - if camp.lat && camp.lng
        span
          i.fa.fa-map-o data-toggle="tooltip" data-placement="right" title="Lokalizováno v mapě"
